html,
body {
	background: #000;
	color: #fff;
	font-family: sans-serif;
}
html,
body,
.firepad,
.ace_editor,
.pane,
iframe {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	overflow: hidden;
}
iframe {
	overflow: auto;
}
.dragging iframe {
	pointer-events: none;
}

body {
	position: absolute;
	left: -1px;
	top: -1px;
	right: -1px;
	bottom: -1px;
	width: auto;
	height: auto;
}

.leaf-pane {
	border-radius: 2px;
	position: relative; /* for .label and .leaf-pane::after positioning */
}
.leaf-pane::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 50;
	border-radius: 2px;
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.5) inset;
	pointer-events: none;
}

.col-resizing * { cursor: col-resize !important; }
.row-resizing * { cursor: row-resize !important; }
.multi-resizing * { cursor: move !important; }

.show-output-only .output-pane {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: auto !important;
	height: auto !important;
}
.show-output-only .leaf-pane:not(.output-pane) {
	visibility: hidden;
}
.show-output-only .label {
	display: none;
}

.label {
	position: absolute;
	right: 5px;
	top: 2px;
	z-index: 10;
	border: 0;
	border-radius: 2px;
	background: black;
	color: white;
	opacity: 0.3;
	padding: 3px 5px;
}

.errors {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	max-height: 100%;
}
.error {
	/*text-align: center;
	background: rgba(255, 0, 0, 0.8);
	color: white;*/
	padding: 5px;
	background: rgba(109, 0, 0, 0.8);
	color: #B56D6D;
	/*box-shadow: 0 1px white;*/
	box-shadow: 0 1px rgba(239, 139, 139, 0.3) inset;
}

.error button {
	border: 0;
	background: none;
	color: #FFACAC;
	font-size: inherit;
	padding: 0;
	cursor: pointer;
}

.ace_hidden-cursors {
	opacity: 0;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background: #000;
}
::-webkit-scrollbar-thumb {
	background: #555;
}
::-webkit-scrollbar-thumb:hover {
	background: #777;
}

.disabled-output {
	position: relative;
	height: 100%;
	background-color: rgb(25, 25, 25);
	background-image: linear-gradient(-45deg, black 25%, transparent 25%, transparent 50%, black 50%, black 75%, transparent 75%, transparent);
	background-size: 4px 4px;
}
.disabled-output p {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin: 15px 0;
	color: rgb(50, 46, 38);
	font-weight: bold;
	text-shadow: 0 1px 1px #000, 0 0 2px #000, 0 0 20px #000;
}
.disabled-output > button {
	margin: auto;
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	width: 100px;
	height: 100px;
	background: transparent;
	padding: 0;
	border: 0;
	outline: 0;
}
.disabled-output > button svg {
	width: 100px;
	height: 100px;
}
.disabled-output > button path {
	fill: #332F28;
	filter: url(#drop-shadow);
}
.disabled-output > button:hover path {
	fill: #90661B;
}
.disabled-output > button:active path {
	fill: #B9872F;
	filter: url(#recessed);
}
